* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

p, span {
    font-size: 14px;
    text-align: center;
}

.header {
    display: flex;
    align-items: start;
    gap: 10px;
    background-color: white;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.header-divider {
    border: 1px solid #ddd;
    height: 20px;
}

.header-text {
    font-size: 16px;
}

.tool-section {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    list-style-type: none;
    width: 100%;
    background-color: white;
}

.nav-tab {
    width: 80px;
    padding: 5px 15px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.nav-tab:hover {
    border-bottom: 2px solid #000000;
}

.nav-tab.file{
    background-color: rgb(34, 98, 170);
    color: white
}

.nav-tab.active {
    background-color: #ddd;
}

.toolbox {
    display: flex;
    background-color: #ddd;
}

.tool-divider {
    border-left: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button-section {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.big-icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
}

.icon-main {
    width: 50px;
}

.tiny-icon {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.big-icon-side {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: auto;
    cursor: pointer;
    gap: 5px;
}

.icon-text-pair {
    display: inline-flex;
    align-items: center; /* Align icon and text vertically */
    gap: 5px; /* Adjust the space between icon and text */
}

.tool-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(2, auto); /* 2 rows with height based on content */
    gap: 10px;
    padding: 10px;
}

.shapes-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(3, auto); /* 2 rows with height based on content */
    gap: 2px;
    background-color: white;
    padding: 2px;
    border: 1px solid #bbb;
}

.shapes-box {
    display: flex;
    border: 1px solid #bbb;
}

.box-arrow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #bbb;
    padding: 10px 3px;
}

.colors-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(3, auto); /* 2 rows with height based on content */
    gap: 1px;
    padding: 2px;
}

.color-picker {
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-color-picker {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color {
    width: 90%;
    height: 90%;
    cursor: pointer;
}

.paint-holder {
    width: 100px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

canvas {
    border: 5px solid #ccc;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
